<ion-header>
  <ion-toolbar>
    <center><ion-title>login</ion-title></center>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
      <ion-input placeholder="Email..." #emai required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password...</ion-label>
        <ion-input type="Password" #pass required></ion-input>
      </ion-item>
      <center><ion-button color="warning" class="sigin" (click)="Signin(emai,pass)">SIGN IN</ion-button></center>
      <br>
      <center>
      <ion-button class="sigup" routerLink="/signup">SIGN UP</ion-button>
    </center>
   
   
    </ion-card-content>
    </ion-card>
</ion-content>
