<ion-header>
  <ion-toolbar>
    <ion-title>interests</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="intpg">
  <ion-grid>
    <ion-row>
      
      <ion-col>
        <ion-card class="GRC1">
         <ion-card-content>
         </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-checkbox color="danger"></ion-checkbox>
          <ion-text color="warning"><b>Stress</b></ion-text>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card class="GRC2">
          <ion-card-content>
           </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-checkbox color="success"></ion-checkbox>
          <ion-text color="danger"><b>Creativity</b></ion-text>
        </ion-card>
      </ion-col>
     
    </ion-row>

    <ion-row>
      
      <ion-col>
        <ion-card class="GR2C1">
         
        </ion-card>
        <ion-card>
          <ion-checkbox color="primary"></ion-checkbox>
          <ion-text color="success"><b>Balanced Life</b></ion-text>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card class="GR2C2">
        
        </ion-card>
        <ion-card>
          <ion-checkbox color="warning"></ion-checkbox>
          <ion-text color="primary"><b>Mindfull Eating</b></ion-text>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      
      <ion-col>
        <ion-card class="GR3C1">
         
        </ion-card>
        <ion-card>
          <ion-checkbox color="tertiary"></ion-checkbox>
          <ion-text color="danger"><b>Financial Habits</b></ion-text>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card class="GR3C2">
        
        </ion-card>
        <ion-card>
          <ion-checkbox color="danger"></ion-checkbox>
          <ion-text color="warning"><b>Self Decipline</b></ion-text>
        </ion-card>
      </ion-col>
    </ion-row>
     

    <ion-row>
      
      <ion-col>
        <ion-card class="GR4C1">
         
        </ion-card>
        <ion-card>
          <ion-checkbox color="success"></ion-checkbox>
          <ion-text color="primary"><b>Motivation</b></ion-text>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card class="GR4C2">
        
        </ion-card>
        <ion-card>
          <ion-checkbox color="danger"></ion-checkbox>
          <ion-text color="success"><b>Self Decipline</b></ion-text>
        </ion-card>
      </ion-col>
    </ion-row>
     

    <ion-row>
      
      <ion-col>
        <ion-card class="GR5C1">
         
        </ion-card>
        <ion-card>
          <ion-checkbox color="secondary"></ion-checkbox>
          <ion-text color="warning"><b>Better Organisation</b></ion-text>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card class="GR5C2">
        
        </ion-card>
        <ion-card>
          <ion-checkbox color="success"></ion-checkbox>
          <ion-text color="secondary"><b>Co-ordination</b></ion-text>
        </ion-card>
      </ion-col>
    </ion-row>
     
   <ion-row>
     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
     <ion-button color="warning" routerLink="/todo">SUBMIT</ion-button>
   </ion-row>
     
</ion-grid>  
</ion-card>
</ion-content>
