<ion-content>


  <ion-slides [options]="option" class="ion-margin-top">
    <ion-slide>
       <ion-card class="qu1">
         <br><br><br><br><br><br><br>
         <ion-card class="qu1a">
            <ion-card-content>
               <ion-text style="color:black;">
                   <h1 style="font-family: 'Times New Roman', Times, serif;"><b>How much sleep do you get everyday?</b></h1>
                 </ion-text>
             </ion-card-content>
            </ion-card>
            
            
            <ion-card class="ans1a">
             <ion-card-content>
              <ion-button color="primary">less than 7 hrs</ion-button><br>
               <ion-button color="secondary">7-9hrs</ion-button><br>
               <ion-button color="tertiary">9-12hrs</ion-button><br>
               <ion-button color="success">12hrs more than</ion-button>
              
             </ion-card-content>
          </ion-card>
          <br><br><br><br><br><br><br>
        </ion-card>  
      </ion-slide>
 


      <ion-slide>
        <ion-card class="qu2">
          <br><br><br><br><br><br><br>
          <ion-card class="qu2a">
             <ion-card-content>
                <ion-text style="color:black;">
                    <h1 style="font-family: 'Times New Roman', Times, serif;"><b>Do you wakeup feeling well rested?</b></h1>
                  </ion-text>
              </ion-card-content>
             </ion-card>
             
             
             <ion-card class="ans2a">
              <ion-card-content>
               <ion-button color="primary">ALWAYS</ion-button><br>
               <ion-button color="secondary">USUALLY</ion-button><br>
               <ion-button color="tertiary">SOMETIMES</ion-button>
               <ion-button color="success">RARELY</ion-button>
            
              </ion-card-content>
           </ion-card>
           <br><br><br><br><br><br><br>
         </ion-card>  
       </ion-slide>


      
       <ion-slide>
        <ion-card class="qu3">
          <br><br><br><br><br><br><br>
          <ion-card class="qu3a">
             <ion-card-content>
                <ion-text style="color:black;">
                    <h1 style="font-family: 'Times New Roman', Times, serif;"><b>Do you forget about your works and assignments?</b></h1>
                  </ion-text>
              </ion-card-content>
             </ion-card>
             
             
             <ion-card class="ans3a">
              <ion-card-content>
               <ion-button color="primary">MANYTIMES</ion-button><br>
               <ion-button color="secondary">USUALLY</ion-button><br>
               <ion-button color="tertiary">OFTEN</ion-button><br>
               <ion-button color="success">RARELY</ion-button>
            
              </ion-card-content>
           </ion-card>
           <br><br><br><br><br><br><br>
         </ion-card>  
       </ion-slide>




       <ion-slide>
        <ion-card class="qu4">
          <br><br><br><br><br><br><br>
          <ion-card class="qu4a">
             <ion-card-content>
                <ion-text style="color:black;">
                    <h1 style="font-family: 'Times New Roman', Times, serif;"><b>Which of the habits most trouble you?</b></h1>
                  </ion-text>
              </ion-card-content>
             </ion-card>
             
             
             <ion-card class="ans4a">
              <ion-card-content>
               <ion-button color="primary">SOCIAL MEDIA</ion-button><br>
               <ion-button color="secondary">NEGATIVE SELF TALK</ion-button><br>
               <ion-button color="tertiary">DISORGANIZATION</ion-button><br>
               <ion-button color="success">OVERTHINKING</ion-button>
            
              </ion-card-content>
           </ion-card>
           <br><br><br><br><br><br><br>
         </ion-card>  
       </ion-slide>


       <ion-slide>
        <ion-card class="qu5">
          <br><br><br><br><br><br><br>
          <ion-card class="qu5a">
             <ion-card-content>
                <ion-text style="color:black;">
                    <h1 style="font-family: 'Times New Roman', Times, serif;"><b>What change do you need in your life?</b></h1>
                  </ion-text>
              </ion-card-content>
             </ion-card>
             
             
             <ion-card class="ans5a">
              <ion-card-content>
               
              <ion-item>
                <ion-checkbox color="danger"></ion-checkbox>
                <ion-label>MORE ENERGY</ion-label><br>
              </ion-item>
              <ion-item>
                <ion-checkbox color="success"></ion-checkbox>
                <ion-label>MORE PRODUCTIVITY</ion-label><br>
              </ion-item>
              <ion-item>
                <ion-checkbox color="warning"></ion-checkbox>
                <ion-label>MORE SLEEP</ion-label><br>
              </ion-item>
                          
              </ion-card-content>
           </ion-card>
           <br><br><br><br><br><br><br>
         </ion-card>  
       </ion-slide>



       <ion-slide>
        <ion-card class="qu6">
          <br><br><br><br><br><br><br>
          <ion-card class="qu6a">
             <ion-card-content>
                <ion-text style="color:black;">
                    <h1 style="font-family: 'Times New Roman', Times, serif;"><b>What is your age?</b></h1>
                  </ion-text>
              </ion-card-content>
             </ion-card>
             
             
             <ion-card class="ans6a">
              <ion-card-content>
               
                <ion-button color="primary">16-24</ion-button><br>
               <ion-button color="danger">24-32</ion-button><br>
               <ion-button color="tertiary">32-40</ion-button><br>
               <ion-button color="success">40-48</ion-button>
            
                          
              </ion-card-content>
           </ion-card>
           <br><br><br><br><br><br><br><br><br><br>
         </ion-card>  
       </ion-slide>


       <ion-slide>
        <ion-card class="qu7">
          <br><br><br><br><br><br><br>
          <ion-card class="qu7a">
             <ion-card-content>
               
                <ion-text style="color:black;">
                    <h1 style="font-family: 'Times New Roman', Times, serif;"><b>How distractable are you?</b></h1>
                  </ion-text>
              </ion-card-content>
             </ion-card>
             
             
             <ion-card class="ans7a">
              <ion-card-content>
               
                
               <ion-button color="danger">EASILY</ion-button><br>
               <ion-button color="tertiary">OFTEN LOSE FOCUS</ion-button><br>
               <ion-button color="success">RARELY LOSE FOCUS</ion-button>
               
              
               </ion-card-content>
          
               
              <ion-button routerLink="/interests">Submit</ion-button>
                
           </ion-card>
           <br><br><br><br><br><br><br><br><br><br>
         </ion-card>  
       </ion-slide>
      
      
    </ion-slides>
</ion-content>
