<ion-content class="quet1">


<br><br><br><br><br><br><br><br>
<br><br><br><br>

<ion-card class="quet1a">
        <ion-card-content>
            <ion-text color="warning">
                <h1>Do you want to start your journey?</h1>
              </ion-text>
        </ion-card-content>
    </ion-card>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <ion-button color="warning" shape="round" strong="true" routerLink="/quests">CONTINUE</ion-button>


</ion-content>


